<% provide(:title, 'About') %>
<section class='about'>
  <div class='built'>
    <h1>This website was built using:</h1>
    <ul class='circle-container'>
      <li><a href='http://rubyonrails.org/'><img src='/assets/rails.png' alt="Rails"></a></li>
      <li><a href='http://www.sequencejs.com/'><img src='/assets/sequence-logo.png' alt="SequenceJS"></a></li>
      <li><a href='http://www.bourbon.io/'><img src='/assets/bourbon.png' alt="Bourbon"></a></li>
      <li><a href='http://sass-lang.com/'><img src='/assets/sass.png' alt="Sass"></a></li>
      <li><a href='http://agurdesign.com/'><img src='/assets/agur_glasses.png' alt="Agur Design"></a></li>
    </ul>
  </div>
  <div class='hello-about'>
    <button><a href='/'>Hello World</a></button>
  </div>
</section>