<% provide(:title, 'About') %>
<section class='about'>
  <div class='built'>
    <h1>This website was built using:</h1>
    <div class='hello-about'>
      <button>Hello World</button>
    </div>
    <ul class='circle-container'>
      <li><a href='http://rubyonrails.org/'><img id="rails" src='/assets/rails.png' alt="Rails"></a></li>
      <li><a href='http://www.sequencejs.com/'><img id="sqnc" src='/assets/sequence-logo.png' alt="SequenceJS"></a></li>
      <li><a href='http://www.bourbon.io/'><img id="bourbon" src='/assets/bourbon.png' alt="Bourbon"></a></li>
      <li><a href='http://sass-lang.com/'><img id="sass" src='/assets/sass.png' alt="Sass"></a></li>
      <li><a href='http://agurdesign.com/'><img id="agur" src='/assets/agur_glasses.png' alt="Agur Design"></a></li>
    </ul>
  </div>
</section>