<% provide(:title, 'About') %>
<section class='about'>
  <div class='built'>
    <h1 id="built-with"></h1>
  </div>
  <div class='hello-about'>
    <button>Hello World</button>
    <ul class='circle-container'>
      <li id="rails">
        <a href='http://rubyonrails.org/'>
          <img src='/assets/rails.png' alt="Rails">
        </a>
      </li>
      <li id="sqnc">
        <a href='http://www.sequencejs.com/'>
          <img src='/assets/sequence-logo.png' alt="SequenceJS">
        </a>
      </li>
      <li id="bourbon">
        <a href='http://www.bourbon.io/'>
          <img src='/assets/bourbon.png' alt="Bourbon">
        </a>
      </li>
      <li id="sass">
        <a href='http://sass-lang.com/'>
          <img src='/assets/sass.png' alt="Sass">
        </a>
      </li>
      <li id="agur">
        <a href='http://agurdesign.com/'>
          <img src='/assets/agur_glasses.png' alt="Logo by Agur Design">
        </a>
      </li>
    </ul>
  </div>
</section>

<script type="text/javascript">
  // (function slowReveal() {
  //   var i, words;
  //   // var leadIn = document.getElementsByTagName('h1');
  //   // var words = leadIn[0].innerHTML.split(" ");
  //   // console.log(words);
  //   var builtWith = document.getElementById("built-with");
  //   builtWith.style.visibility = 'visible';
  //   words = ["This", "website", "was", "built", "using:"];
  //   for(i=0;i<words.length;i++) {
  //     builtWith.innerHTML += (words[i] + " ");
  //     setTimeout(function() { console.log(words[i]);}, 500);
  //   }
  // })();
  
  var words = ["This", "website", "was", "built", "using:"];
  var i = 0;
  var builtWith = document.getElementById("built-with");
  builtWith.style.visibility = 'visible';
  builtWith.style.animation = 'fadein .3s';
  function addWord() {
    if (i < words.length) {
      console.log(words[i]);
      builtWith.innerHTML += (words[i] + " ");
      i++;
    }
  };

  setInterval(addWord, 300);
  window.onload.setTimeout(addWord, 2000);
</script>