<% provide(:title, 'About') %>
<section class='about'>
  <div class='built'>
    <h1>This website was built using:</h1>
  </div>
  <div class='hello-about'>
    <button>Hello World</button>
    <ul class='circle-container'>
      <li>
        <div>
          <a id="rails" href='http://rubyonrails.org/'>
            <img src='/assets/rails.png' alt="Rails">
          </a>
        </div>
      </li>
      <li>
        <div>
          <a id="sqnc" href='http://www.sequencejs.com/'>
            <img src='/assets/sequence-logo.png' alt="SequenceJS">
          </a>
        </div>
      </li>
      <li>
        <div>
          <a id="bourbon" href='http://www.bourbon.io/'>
            <img src='/assets/bourbon.png' alt="Bourbon">
          </a>
        </div>
      </li>
      <li>
        <div>
          <a id="sass" href='http://sass-lang.com/'>
            <img src='/assets/sass.png' alt="Sass">
          </a>
        </div>
      </li>
      <li>
        <div>
          <a id="agur" href='http://agurdesign.com/'>
            <img src='/assets/agur_glasses.png' alt="Agur Design">
          </a>
        </div>
      </li>
    </ul>
  </div>
</section>