<% provide(@title, 'CV') %>
<object class="bennett-cv" data="/assets/Bennett_Adams_CV_post-WDI.pdf" type="application/pdf"></object>
 
  <!-- <p>It appears you don't have a PDF plugin for this browser. No biggie... you can <a href="Bennett_Adams_CV_post-WDI.pdf" >click here</a> to
  download the PDF file.</p> -->