<% provide(:title, 'Odds and Ends') %>

<section>
  <div class="flex-boxes">
    <a href="javascript:void(0)" class="flex-box flex-box-big">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
      <h1 class="flex-title">Music</h1>
      <p>I have played guitar since my early teens, and I started singing and songwriting during college. For a few years I played gigs here and there around Atlanta, but I always enjoyed composing more than performing. I self-released an EP called <a href="https://itunes.apple.com/us/album/dancing-partner-ep/id504102721">Dancing Partner</a> in 2006. I may or may not have done the record as an excuse to buy a theremin, which I used on a couple songs.</p>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Atrack%3A2xZZH7I0IrSFRGeGy7L7ih" width="200" height="100" frameborder="0" allowtransparency="true"></iframe>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
      <h1 class="flex-title">Improv Comedy</h1>
      <p>I was a founding member of <a href="http://relapsecomedy.com/">Relapse Theatre</a>’s improv comedy troupe here in Atlanta. From 2005 to 2008 I spent my Friday nights on stage with a handful of talented comedians and actors, generally making a fool of myself for the audiences’ enjoyment. Improv comedy provides constant lessons in </p>
    </a>
    <!-- <a href="javascript:void(0)" class="flex-box">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
      <h1 class="flex-title">A Flex Box Item</h1>
      <p>Lorem adipisicing elit. Voluptas consectetur tempora quis nam, officia tenetur blanditiis in illo dolor?</p>
    </a> -->
    <a href="javascript:void(0)" class="flex-box flex-box-big">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
      <h1 class="flex-title">Travel</h1>
      <p>Traveling is one of my greatest passions. In the last decade or so, I have been fortunate to be able to visit more than two dozen countries in Europe, Southeast Asia, and Central and South America. In 2008 my wife and I started a travel blog called theflashpacker.com to catalogue our travels and to share travel tips, ideas, and some of our photography. I maintained the blog for most of that year while we lived in Hanoi, Vietnam, but I ran out of posting steam when we came home. I do look forward to getting back to our globetrotting ways someday, in part to resurrect the website. (archived page available <a href="http://web.archive.org/web/20140107234411/http://theflashpacker.com/">here</a>.)</p>
    </a>
    <a href="javascript:void(0)" class="flex-box">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
      <h1 class="flex-title">Writing</h1>
      <p>I enjoy the creative process of constructing a story, and I’ve done a few freelancing jobs over the years, as well as a good deal of copy editing and proofreading.</p>
      <a href="http://magazine.good.is/infographics/outdoor-businesses-protect-the-outdoors"><img height="120" width="150" src="http://simpanetworks.com/wp-content/uploads/2011/09/GOOD-Mag.jpg"></a>
      <a href="http://issuu.com/ncihomedesign/docs/ht_mar14_digitaledition"><img height="50" width="200" src="http://www.healthytravelmag.com/wp-content/uploads/2014/10/LOGOgrn1.jpg"></a>
    <p2>(pp. 16-17)</p2>
    </a>
    <!-- <a href="javascript:void(0)" class="flex-box">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
      <h1 class="flex-title">Last Flex Box Item</h1>
      <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
    </a> -->
  </div>
</section>