<% provide(:title, 'Odds and Ends') %>

<!-- <section> -->
<div class="image-gradient-dynamic">
  <div id="map"></div>
  <div class="copy">
    <h1>Hi, I'm Bennett.</h1>
    <p>I am an Atlanta-based, full-stack web developer. Thanks for visiting my little corner of the internet. 
    <br>
    If you like what you've seen, and you have a project in mind you'd like to bring to life, <a href="mailto:bennettadams46@gmail.com">drop me a line</a>. I'm always looking for a something fun to build. 
    <br>
    Keep scrolling to learn a little more about where I find inspiration. 
    </p>
  </div>
</div>
<div class="bennett-pic">
  <img src="/assets/bennett.jpg">
</div>

<div class="texture">
  <div class="texture-inverted">
    <h1>-The Full Stack-</h1>
  </div>
  <div class="texture-normal"></div> 
</div>

<div id="js-parallax-window-one" class="parallax-window parallax-window-music">
  <div class="parallax-static-content parallax-static-content-music">
    <b>Music</b>
  </div>
  <div id="js-parallax-background-one" class="parallax-background parallax-background-music"></div>
</div>

<div class="music-copy-one">
  <p>I have played guitar since my early teens, and I started singing and writing songs during college. For a few years I played gigs here and there around Atlanta, but I always enjoyed composing more than performing. I self-released an EP called <a href='https://itunes.apple.com/us/album/dancing-partner-ep/id504102721'>Dancing Partner</a> in 2006.</p>
</div>
<div class="spotify">
  <iframe src='https://embed.spotify.com/?uri=spotify%3Atrack%3A2xZZH7I0IrSFRGeGy7L7ih' width='400' height='300' frameborder='0' allowtransparency='true'></iframe>
</div>
<div class="music-copy-two">
  <p>There are few things as native to me as holding a fretboard in my hand, so when I need to take a step back from a problem I'm stuck on, coding-related or otherwise, I usually head for the nearest guitar. </p>
</div>

<div id="js-parallax-window-two" class="parallax-window parallax-window-travel">
  <div class="parallax-static-content parallax-static-content-travel">
    <b>Travel</b>
  </div>
  <div id="js-parallax-background-two" class="parallax-background parallax-background-travel"></div>
</div>

<div class="travel-copy">
  <p class="travel-column-one">Traveling is one of my greatest passions. In the last decade or so, I have been fortunate to be able to visit more than two dozen countries in Europe, Southeast Asia, and Central and South America. In 2008 my wife and I started a blog called theflashpacker.com to catalogue our travels and to share travel tips, ideas, and some of our photography.</p>

  <p class="travel-column-two">I maintained the blog for most of that year while we lived in Hanoi, Vietnam, but I ran out of posting steam when we came home. I do look forward to continuing our globetrotting ways in the years to come, in part to resurrect the website. 
    <br>
    (archived page available <a href='http://web.archive.org/web/20140107234411/http://theflashpacker.com/'>here</a>.)</p>

  <p class="travel-column-three">We still make a point to explore new places every year, and our destinations list grows longer all the time, but I've also found a similarly limitless world to investigate in coding and design. No matter how much I learn and experiment with new technologies, there will always be something challenging and thrilling to dive into next.</p>
</div>

<div id="js-parallax-window-three" class="parallax-window parallax-window-writing">
  <div class="parallax-static-content parallax-static-content-writing">
    <b>Writing</b>
  </div>
  <div id="js-parallax-background-three" class="parallax-background parallax-background-writing"></div>
</div>

<div class="writing-section">
  <div class="hover-tile-outer hover-tile-good">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <h4><a href='http://magazine.good.is/infographics/outdoor-businesses-protect-the-outdoors'>Outdoor Businesses Protect the Outdoors</a></h4>
        <p>A piece on the work of the Conservation Alliance, part of the <a href="http://awesome.good.is/ecosystem/index.html#/home" target="_blank">Road to Harmony</a> project for Good Magazine's online imprint.</p>
      </div>
    </div>
  </div>

  <div class="writing-copy">
    <p>I enjoy the creative process of constructing a story, and I’ve done a few freelancing jobs over the years, as well as a good deal of copy editing and proofreading. Paying great attention to the smallest details is something I take pride in.</p>
  </div>

  <div class="hover-tile-outer hover-tile-healthy">
    <div class="hover-tile-container">
      <div class="hover-tile hover-tile-visible"></div>
      <div class="hover-tile hover-tile-hidden">
        <h4><a href='http://issuu.com/ncihomedesign/docs/ht_mar14_digitaledition' target="_blank">Getaway to Callaway</a></h4>
        <p>A 500-word piece on the Lodge and Spa at Callaway Garden in Pine Mountain, Georgia. (pp 16-17)</p>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  var watercolor = L.tileLayer('http://{s}.tile.stamen.com/watercolor/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com" target="_blank">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY SA</a>.'}
        ),
    toner = L.tileLayer('http://{s}.tile.stamen.com/toner/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com" target="_blank">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, under <a href="http://www.openstreetmap.org/copyright" target="_blank">ODbL</a>.'}
      ),
    terrain = L.tileLayer('http://{s}.tile.stamen.com/terrain/{z}/{x}/{y}.png', {attribution: 'Map tiles by <a href="http://stamen.com" target="_blank">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0" target="_blank">CC BY SA</a>.'}
      );
    
  var baseMaps = {
    // 'Terrain': terrain,
    // 'Watercolor': watercolor,
    'Toner': toner
  };

  var map = L.map('map', {
      center: [33.76152,-84.256], 
      zoom: 12,
      zoomControl: false,
      layerControl: false,
      layers: toner
    });
  map.touchZoom.disable();
  map.doubleClickZoom.disable();
  map.scrollWheelZoom.disable();
  map.boxZoom.disable();
  map.keyboard.disable();

</script>



<!-- </section> -->

