
<% provide(@title, 'Projects') %>
<div id="sequence">
  <img class="sequence-prev" src="/assets/paddle_prev_fff.png" alt="Previous">
  <img class="sequence-next" src="/assets//paddle_next_fff.png" alt="Next">

  <ul class="sequence-canvas">
    <li class="animate-in">
      <div class="info1">
        <h2><a href="https://elevatl.herokuapp.com" target="_blank"><img src="/assets/elevatl_logo_white" width="200px"></a></h2>
        <p>is a web application that demonstrates with striking data visualizations the economic and demographic trajectory of the city of Atlanta. The app, which features multiple D3.js data visualizations, was built in AngularJS on Rails and was my final project with another student in the WDI.</p>
        <!-- <img class="sky" src="/assets/bg-clouds.png" alt="Blue Sky"> -->
        <img class="chord" src="/assets/chord_diagram.png" alt="ElevATL Chord Diagram">
      </div>
    </li>
    <li>
      <div class="info2">
        <h2><a href="https://locative.herokuapp.com" target="_blank"><img src="/assets/locative_gray.png" width="250px"></a></h2>
        <p>leverages Instagram's API to allow users to share the story of their journeys with others.  The app pulls in a user's posts and plots them on an interactive map according to where and when the pictures were taken. Locative was built in AngularJS on Rails, completed nine weeks into the course.</p>
        <img class="sky" src="/assets/locative_journey_screenshot.png" width="100px" height="100px" alt="Locative Journey">
        <!-- <img class="locative-landing" src="/assets/locative_screenshot.png" alt="Locative Landing"> -->
      </div>
    </li>
    <li>
      <div class="info3">
        <h2><a href="https://peaceful-inlet-4447.herokuapp.com" target="_blank"><img src="/assets/TweetHeart.png" width="250px"></a></h2>
        <p>mines the Twitter API for the most recent tweets about a topic of interest, then performs sentiment analysis (powered by AlchemyAPI) on each of the tweets. The composite sentiment rating indicates how positively or negatively twitter views that subject at the moment of your search. Searches can be saved to a user's profile to allow an assessment of trends in sentiment over time. TweetHeart was built in Ruby on Rails six weeks into the WDI.</p>
        <img class="sky" src="/assets/greenthumb.png" alt="Thumbs Up">
        <!-- <img class="thumbs-down" src="/assets/redthumb.png" alt="Thumbs Down"> -->
      </div>
    </li>
    <li>
      <div class="info4">
        <h2><a href="https://chefu.herokuapp.com" target="_blank"><img src="/assets/chef-u.png" width="250px"></a></h2>
        <p>A cooking recipe website with an educational bent, aimed at novice-to-intermediate cooks. First project, completed three weeks into the immersive course. Coded in Ruby, initially on Sinatra framework, then ported over to Rails.</p>
        <img class="sky" src="/assets/chefu_screenshot.png" alt="Chef-U Welcome">
        <img class="chef-logo" src="/assets/chef_u_logo.png" alt="Chef-U">
      </div>
    </li>
  </ul>
</div>