// Typography
$base-font-family: Baumans;
$nameplate-logo-font-family: Wire-One;
$handdrawn-bold-font-family: AmaticSC, bold;
$handdrawn-font-family: AmaticSC;
$six-caps-font-family: Six-Caps;

// Colors
$logo-background-hover-color: #05244e;




