// Typography
$base-font-family: Baumans;
$nameplate-logo-font-family: Wire-One;
$handdrawn-bold-font-family: AmaticSC, bold;
$handdrawn-font-family: AmaticSC;
$six-caps-font-family: Six-Caps;
$logo-circle-background-color: rgba(247,160,40,0.3);
$logo-orange: rgba(253,161,33,0.8);
$logo-blue: rgba(10,72,154,0.8);

// Colors
$logo-background-hover-color: #05244e;

//Icons
$home-contact-icon-height: 80px;
$home-contact-icon-width: 80px;


