// Typography
$base-font-family: Baumans;
$nameplate-logo-font-family: Wire-One;
$handdrawn-bold-font-family: AmaticSC, bold;
$handdrawn-font-family: AmaticSC;
$six-caps-font-family: Six-Caps;
$logo-circle-background-color: rgba(247,160,40,0.3);

// Colors
$logo-background-hover-color: #05244e;




