/*
Theme created for use with Sequence.js (http://www.sequencejs.com/)

Theme: Sliding Horizontal Parallax
Version: 1.2
Theme Author: Ian Lunn @IanLunn
Author URL: http://www.ianlunn.co.uk/
Theme URL: http://www.sequencejs.com/themes/sliding-horizontal-parallax/

This is a FREE theme and is available under a MIT License:
http://www.opensource.org/licenses/mit-license.php

Sequence.js and its dependencies are (c) Ian Lunn Design 2012 - 2013 unless otherwise stated.
*/
/* CSS RESET - http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* !CSS RESET */
/* prefix declarations */
/* THEME STYLES */
#sequence {
  position: relative;
  min-height: 800px;
  max-width: 1440px;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: url('/assets/AhuAkivi.png') no-repeat;
  background-size: 110% 140%;
  background-color: rgb(150,242,253);
  color: white;
  font-family: "Play", sans-serif;
}
#sequence > .sequence-canvas {
  height: 100%;
  width: 100%;
}
#sequence > .sequence-canvas > li {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
#sequence > .sequence-canvas li > * {
  position: absolute;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
#sequence .sequence-next,
#sequence .sequence-prev {
  color: white;
  cursor: pointer;
  display: none;
  font-size: 80px;
  font-weight: 900;
  position: absolute;
  opacity: 0.8;
  top: 40%;
  transform: translate(0, -50%)
  height: 41px;
  width: 39px;
  z-index: 20;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#sequence .sequence-prev {
  left: 40px;
}
#sequence .sequence-next {
  right: 40px;
}
#sequence .sequence-next:hover,
#sequence .sequence-prev:hover {
  opacity: 1;
  -webkit-transform: scale(1.4);
  -moz-transform: scale(1.4);
  -ms-transform: scale(1.4);
  -o-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  -ms-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  transition-duration: 0.4s;
}
#sequence h2 {
  font-size: 1.5em;
  line-height: 1.2em;
}
#sequence .info1 {
  color: white;
  font-size: 1.3em;
  right: 150%;
  line-height: 1.5em;
  top: 400px;
  width: 30%;
  z-index: 10;
  vertical-align: middle;
  background-color: rgba(180,180,180,0.4);
  border-radius: 15px;
  padding: 10px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}
#sequence .animate-in .info1 {
  right: 10%;
  top: 400px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .animate-out .info1 {
  right: -150%;
  top: 450px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info1 img.chord {
  position: absolute;
  width: 150%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#sequence .chord {
  left: -140%;
  top: 150%;
  max-width: 150%;
  z-index: 6;
  background-color: rgba(180,180,180,0.0);
  border-radius: 50px;
  padding: 10px;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
}
#sequence .animate-in .chord {
  left: -165%;
  top: -400px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  z-index: 4;
}
#sequence .animate-out .chord {
  left: 140%;
  top: -30px;
  z-index: 2;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info2 {
  color: white;
  font-size: 1.3em;
  left: -150%;
  line-height: 1.5em;
  top: 50px;
  width: 25%;
  z-index: 10;
  vertical-align: middle;
  background-color: rgba(180,180,180,0.3);
  border-radius: 15px;
  padding: 10px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
#sequence .animate-in .info2 {
  left: 8%;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .animate-out .info2 {
  left: -150%;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info2 img.journey {
  position: absolute;
  width: 180%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#sequence .journey {
  left: -140%;
  top: 400px;
  max-width: 180%;
  z-index: 6;
  background-color: rgba(180,180,180,0.1);
  border-radius: 10px;
  opacity: 0.9;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
}
#sequence .animate-in .journey {
  left: 140%;
  top: 100px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  z-index: 4;
}
#sequence .animate-out .journey {
  left: 140%;
  top: -30px;
  z-index: 2;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info3 {
  color: white;
  font-size: 1.3em;
  right: 150%;
  line-height: 1.5em;
  top: 400px;
  width: 30%;
  z-index: 10;
  vertical-align: middle;
  background-color: rgba(180,180,180,0.5);
  border-radius: 15px;
  padding: 10px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: right;
  -moz-transition-property: right;
  -ms-transition-property: right;
  -o-transition-property: right;
  transition-property: right;
}
#sequence .animate-in .info3 {
  right: 10%;
  top: 300px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .animate-out .info3 {
  right: -150%;
  top: 300px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info3 img.thumb {
  position: absolute;
  width: 120%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#sequence .thumb {
  left: -140%;
  top: 150%;
  max-width: 120%;
  z-index: 6;
  background-color: rgba(180,180,180,0);
  border-radius: 50px;
  opacity: 0.8;
  padding: 10px;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
}
#sequence .animate-in .thumb {
  left: -150%;
  top: -200px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  z-index: 4;
}
#sequence .animate-out .thumb {
  left: 140%;
  top: -30px;
  z-index: 2;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info4 {
  color: white;
  font-size: 1.3em;
  left: -150%;
  line-height: 1.5em;
  top: 10px;
  width: 25%;
  z-index: 10;
  vertical-align: middle;
  background-color: rgba(180,180,180,0.3);
  border-radius: 15px;
  padding: 10px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -ms-transition-property: left;
  -o-transition-property: left;
  transition-property: left;
}
#sequence .animate-in .info4 {
  left: 8%;
  top: 120px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .animate-out .info4 {
  left: -150%;
  top: 120px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .info4 img.chef-welcome {
  position: absolute;
  width: 220%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
#sequence .chef-welcome {
  left: -140%;
  top: 400px;
  max-width: 220%;
  z-index: 6;
  background-color: rgba(180,180,180,0.1);
  border-radius: 10px;
  opacity: 0.9;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
}
#sequence .animate-in .chef-welcome {
  left: 120%;
  top: 200px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  z-index: 4;
}
#sequence .animate-out .chef-welcome {
  left: 140%;
  top: -30px;
  z-index: 2;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
object.bennett-cv {
  background-image: url('/assets/bayon.jpg');
  height: 800px;
  width: 100%;
}
#sequence .locative-landing {
  left: -50%;
  max-width: 40%;
  top: 800px;
  z-index: 6;
  -webkit-transition-property: left top -webkit-transform;
  -moz-transition-property: left top -moz-transform;
  -o-transition-property: left top -o-transform;
  -ms-transition-property: left top -ms-transform;
  transition-property: left top transform;
}
#sequence .animate-in .locative-landing {
  left: 10%;
  top: 100px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transform: rotate(20deg);
  -moz-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  -o-transform: rotate(20deg);
  transform: rotate(20deg);
  z-index: 4;
}
#sequence .animate-out .locative-landing {
  left: 70%;
  top: -900px;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  -o-transform: rotate(40deg);
  transform: rotate(40deg);
  z-index: 2;
}
/*#sequence .sky {
  height: auto;
  width: 100%;
  left: -6%;
  opacity: 0;
  top: 0;
  vertical-align: middle;
  z-index: 1;
  -webkit-transition-property: left top;
  -moz-transition-property: left top;
  -ms-transition-property: left top;
  -o-transition-property: left top;
  transition-property: left top;
}
#sequence .animate-in .sky {
  left: 0%;
  opacity: 1;
  top: 0;
  z-index: 1;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .animate-out .sky {
  left: 6%;
  opacity: 0;
  top: 0;
  z-index: 1;
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}*/
/*#sequence .thumb .chef-welcome {
  left: -30%;
  opacity: 0;
  max-width: 40%;
  top: 300px;
  z-index: 6;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transition-property: left top -webkit-transform;
  -moz-transition-property: left top -moz-transform;
  -o-transition-property: left top -o-transform;
  -ms-transition-property: left top -ms-transform;
  transition-property: left top transform;
}
#sequence .animate-in .thumb .chef-welcome {
  left: -15%;
  top: 300px;
  opacity: 1;
  z-index: 4;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(80deg);
  -moz-transform: rotate(80deg);
  -ms-transform: rotate(80deg);
  -o-transform: rotate(80deg);
  transform: rotate(80deg);
  -webkit-transition-duration: 4s;
  -moz-transition-duration: 4s;
  -ms-transition-duration: 4s;
  -o-transition-duration: 4s;
  transition-duration: 4s;
}
#sequence .animate-out .thumb .chef-welcome {
  left: -15%;
  opacity: 0;
  top: 300px;
  z-index: 2;
  -webkit-transform-origin: 100%;
  -moz-transform-origin: 100%;
  -ms-transform-origin: 100%;
  -o-transform-origin: 100%;
  transform-origin: 100%;
  -webkit-transform: rotate(200deg);
  -moz-transform: rotate(200deg);
  -ms-transform: rotate(200deg);
  -o-transform: rotate(200deg);
  transform: rotate(200deg);
  -webkit-transition-duration: 3s;
  -moz-transition-duration: 3s;
  -ms-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
}
#sequence .sequence-fallback .animate-in .thumb .chef-welcome {
  left: 20%;
  top: 200px;
}
*/