// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Home Page
#partitioned-home {
  display: block;
}

.clickable-logo {
  height: 100%;
  @include span-columns(5);
  @include shift(1);
  position: relative;
}

#flashpacker-logo {
  margin-top: 10px;
}

.cv-border-left,
.cv-border-right,
.odds-border-left,
.odds-border-right,
.projects-border-left,
.projects-border-right {
  position: absolute;
}


.cv-border-left,
.cv-border-right,
.odds-border-left,
.odds-border-right,
.projects-border-left,
.projects-border-right,
.about-border-left,
.about-border-right {
  visibility: hidden;
}

.cv-border-left {
  position: absolute;
  top: 201px;
  left: 142px;
  z-index: 10;
}

.cv-border-right {
  position: absolute;
  top: 201px;
  left: 250px;
  z-index: 10;
}

.odds-border-left {
  position: absolute;
  top: 158px;
  left: 71px;
  z-index: 10;
}

.odds-border-right {
  position: absolute;
  top: 158px;
  left: 319px;
  z-index: 10;
}

.projects-border-left {
  position: absolute;
  top: 99px;
  left: 12px;
  z-index: 10;
}

.projects-border-right {
  position: absolute;
  top: 99px;
  left: 378px;
  z-index: 10;
}

.about-link {
  font-family: $base-font-family;
  font-size: 2em;
  margin-left: 18%;
}

.about-border-left,
.about-below-logo,
.about-border-right {
  display: inline-block;
}

.about-border-left {
  margin-right: -7px;
}

.about-border-right {
  margin-left: -7px;
}

.about-below-logo h1 {
  font-family: Baumans;
}

.nameplate {
  height: 50%;
  @include span-columns(5);
  font-family: Six-Caps;
  font-size: 8em;
  margin-top: 3%;
  text-align: center;
}

.contact-link-icons {
  display: block;
  margin: 0 auto;
  margin-top: -25px; 
}

.contact-link-icons img {
  height: $home-contact-icon-height;
  width: $home-contact-icon-width;

  &:hover {
    background-color: rgba(30,30,30,.2);
    border-radius: 20%;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
  }
}

.home-github,
.home-email,
.home-linkedin {
  display: inline-block;
}

.home-email {
  margin: 0 15% 0 15%;
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

// Odds and Ends Page

section {
  @include outer-container;
}


$parallax-window-height: 40em;
$parallax-background-height: $parallax-window-height * 1.5;

.parallax-window {
  max-height: $parallax-window-height * 1.5;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  padding: 8em 0;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url('/assets/angkor_wat_sunrise.JPG') repeat;
  background-position: top;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

.hover-tile-good,
.hover-tile-healthy {
  display: inline-block;
}

.hover-tile-good {
  background: url('http://theterramarproject.org/thedailycatch/wp-content/uploads/2012/08/prn-good-logo-1y-2high1.jpg') no-repeat;
}

.hover-tile-healthy {
  background: url('http://www.healthytravelmag.com/wp-content/uploads/2014/10/LOGOgrn1.jpg') no-repeat;

}

.hover-tile-outer {
  $base-border-color: gainsboro !default;
  $base-line-height: 1.5em !default;
  $medium-screen: em(640) !default;
  $hover-tile-height: 10em;
  $base-spacing: 1.5em;

  background-position: center center;
  background-size: contain;
  background-color: white;
  border: 1px solid $base-border-color;
  cursor: pointer;
  height: $hover-tile-height;
  margin-bottom: $base-line-height;
  
  @include media($medium-screen) {
    width: 40%;
  }

  .hover-tile-container {
    height: $hover-tile-height;
    overflow: hidden;
  }

  .hover-tile-container:hover > .hover-tile {
    @include transform(translate(0, -100%));
  }

  .hover-tile {
    @include transition(all, 0.2s ease-in-out);
    background: inherit;
    color: white;
    height: inherit;
    overflow: hidden;
    padding: $base-spacing;
  }

  .hover-tile-hidden {
    background: transparentize(#000, 0.5);

    p {
      color: transparentize(#fff, 0.3);
      line-height: $base-line-height;
    }

    h4 {
      margin: 0 0 0.5em 0;
    }
  }
}





// About Page

.about {
  @include outer-container;
  min-width: 100%;
  
  min-height: $large-screen;
  background: url('/assets/tracks.jpg') no-repeat;
  background-size: 100% 100%;
}

.built {
  @include span-columns(2);
}

#built-with {
  visibility: hidden;
  margin-top: 1em;
  text-align: right;
  font-family: AmaticSC-700;
  font-size: 5em;
  color: white;
  -webkit-animation: fadein .3s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein .3s; /* Firefox < 16 */
  -ms-animation: fadein .3s; /* Internet Explorer */
  -o-animation: fadein .3s; /* Opera < 12.1 */
  animation: fadein .3s;
}

.hello-about {
  @include span-columns(8);
  position: relative;
  
  button {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0px 0 0 -80px;
  }
}

/**
 * Mixin to put items on a circle
 * [1] - Allows children to be absolutely positioned
 * [2] - Allows the mixin to be used on a list
 * [3] - In case box-sizing: border-box has been enabled
 * [4] - Allows any type of direct children to be targeted
 */
.circle-container {
  position: relative;
  /* [1] */
  width: 500px;
  height: 500px;
  padding: 0;
  border-radius: 50%;
  list-style: none;
  /* [2] */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* [3] */
  margin: 5em auto 0;
  border: none;
}
.circle-container > * {
  /* [4] */
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150px;
  height: 150px;
  margin: -75px;
}
.circle-container > *:nth-of-type(1) {
  -moz-transform: rotate(0deg) translate(250px) rotate(-0deg);
  -ms-transform: rotate(0deg) translate(250px) rotate(-0deg);
  -webkit-transform: rotate(0deg) translate(250px) rotate(-0deg);
  transform: rotate(0deg) translate(250px) rotate(-0deg);
}
.circle-container > *:nth-of-type(2) {
  -moz-transform: rotate(72deg) translate(250px) rotate(-72deg);
  -ms-transform: rotate(72deg) translate(250px) rotate(-72deg);
  -webkit-transform: rotate(72deg) translate(250px) rotate(-72deg);
  transform: rotate(72deg) translate(250px) rotate(-72deg);
}
.circle-container > *:nth-of-type(3) {
  -moz-transform: rotate(144deg) translate(250px) rotate(-144deg);
  -ms-transform: rotate(144deg) translate(250px) rotate(-144deg);
  -webkit-transform: rotate(144deg) translate(250px) rotate(-144deg);
  transform: rotate(144deg) translate(250px) rotate(-144deg);
}
.circle-container > *:nth-of-type(4) {
  -moz-transform: rotate(216deg) translate(250px) rotate(-216deg);
  -ms-transform: rotate(216deg) translate(250px) rotate(-216deg);
  -webkit-transform: rotate(216deg) translate(250px) rotate(-216deg);
  transform: rotate(216deg) translate(250px) rotate(-216deg);
}
.circle-container > *:nth-of-type(5) {
  -moz-transform: rotate(288deg) translate(250px) rotate(-288deg);
  -ms-transform: rotate(288deg) translate(250px) rotate(-288deg);
  -webkit-transform: rotate(288deg) translate(250px) rotate(-288deg);
  transform: rotate(288deg) translate(250px) rotate(-288deg);
}
.circle-container a {
  display: block;
  border-radius: 50%;
  box-shadow: none;
}
.circle-container img {
  display: block;
  width: 100%;
  margin-left: -40px;
  border-radius: 5%;
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
}
.circle-container img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}

@keyframes rot {
  from {
    transform: rotate(0deg) translate(-250px) rotate(0deg);
    -webkit-transform: rotate(0deg) translate(-250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-250px) rotate(-360deg);
    -webkit-transform: rotate(360deg) translate(-250px) rotate(-360deg);
  }
}
@-webkit-keyframes rot {
  from {
    transform: rotate(0deg) translate(-250px) rotate(0deg);
    -webkit-transform: rotate(0deg) translate(-250px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(-250px) rotate(-360deg);
    -webkit-transform: rotate(360deg) translate(-250px) rotate(-360deg);
  }
}
#rails, 
#sqnc,
#bourbon,
#sass,
#agur {
  padding: 30px;
  font-size: 150px;
  z-index: 15;
  animation: rot 15s infinite linear;
  -webkit-animation: rot 15s infinite linear;
  -moz-animation: rot 15s infinite linear;
}

#rails {
  width: 200px;
  height: 200px;
  animation-delay: 0s; 
  -webkit-animation-delay: 0s; 
  -moz-animation-delay: 0s; 
}

#rails img {
  margin-top: -60px;
}

#sqnc {
  width: 200px;
  height: 68px;
  animation-delay: -3s; 
  -webkit-animation-delay: -3s; 
  -moz-animation-delay: -3s; 
  }


#bourbon {
  width: 200px;
  height: 45px;
  animation-delay: -6s; 
  -webkit-animation-delay: -6s;
  -moz-animation-delay: -6s;
}

#sass {
  animation-delay: -9s;
  -webkit-animation-delay: -9s;
  -moz-animation-delay: -9s;
}

#agur {
  width: 200px;
  height: 85px;
  animation-delay: -12s;
  -webkit-animation-delay: -12s;
  -moz-animation-delay: -12s;
}

